einops==0.2.0
# paddlepaddle   # đã cài thủ công version phù hợp: 2.6.2
# paddleocr      # đã cài thủ công version phù hợp: 2.9.1
pyclipper
lmdb
numpy
pandas
opencv-python
pillow
matplotlib
torch
underthesea>=1.3.1
